@model cachimboCrack.Models.carrera

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCarrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCarrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area.nombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area.nombreArea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigoCarrera }) |
    @Html.ActionLink("Back to List", "Index")
</p>
