@model cachimboCrack.Models.valoracion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>valoracion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.enseñaValoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enseñaValoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aprendeValoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprendeValoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alumno.contraseñaAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alumno.contraseñaAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curso.nombreCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso.nombreCurso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigoValoracion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
