@{
    ViewBag.Title = "Nosotros";
}
    <body background="~/Content/imágenes/fondo/bordeCircuito.jpg">
        <center>
            <nav>
                <img src="@Url.Content("~/Content/imágenes/logo/logoIndex.png")" height="200" width="200" />
                <label>Cachimbo a Crack es una aplicación web de alumnos para alumnos donde se podrá publicar citas académicas de los cursos que se imparten en la Universidad Tecnológica del Perú.</label>
                <br />
                <h1>Desarrollado pensando en ti</h1>
                <br />
            </nav>
            <br />
            <table>
                <tr>
                    <td align="center">
                        <h3>Enfoque al usuario</h3>
                    </td>
                    <td align="center">
                        <h3>Flexibilidad de la Web</h3>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        Nuestra web permite elegir con quién alumno desea aprender, los cuales estarán ordenados por a valoración y curso. Por otro lado, si se desea enseñar podrás publicar de forma sencilla y práctica tu horario disponible.
                    </td>
                    <td align="center">
                        Nuestra web está dedicada en los alumnos que buscan una mejora en temas académicos. A su vez su está enfocada en el usuario y busca tener la mayor facilidad de uso, practicidad y robustez.
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="@Url.Content("~/Content/imágenes/layout/usuarioNosotros.jpg")" height="200" width="300" />
                    </td>
                    <td align="center">
                        <img src="@Url.Content("~/Content/imágenes/layout/flexibilidadNosotros.jpg")" height="200" width="300" />
                    </td>
                </tr>

                <tr>
                    <td align="center">
                        <h3>Conocimientos previos del alumno</h3>
                    </td>
                    <td align="center">
                        <h3>Diseño que se adapta al dispositivo final</h3>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        Nuestra web cuenta con todo correctamente esquematizado y de fácil entendimiento, aprovechando los conocimientos previos del alumno, como metáforas y lenguajes haciendo fácil y didáctico la navegación.
                    </td>
                    <td align="center">
                        El proyecto cuenta con un diseño muy bien cuidado lo que hace que se pueda ver sin problemas en celular, tabletas, computadoras y cualquier dispositivo final.
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="@Url.Content("~/Content/imágenes/layout/conocimientosNosotros.png")" height="200" width="250" />
                    </td>
                    <td align="center">
                        <img src="@Url.Content("~/Content/imágenes/layout/adaptaNosotros.png")" height="200" width="300" />
                    </td>
                </tr>
            </table>
            <br />
            <label>Puedes registrarte de forma gratuita y particiar de esta comunidad de estudio, donde el único límite lo pones tú. Aprende desde lo más básico hasta lo más complejo de lado de gente con talento como tú.</label>
        </center>
    </body>
