@{
    ViewBag.Title = "Contacto";
}
    <body background="~/Content/imágenes/fondo/bordeCircuito.jpg">
        <center>
            <img src="@Url.Content("~/Content/imágenes/logo/logoIndex.png")" height="200" width="200" />
            <h1>Cerca de ustedes</h1>
            <br />
            <address>
                <table>
                    <tr>
                        <td align="center">
                            <h3>Soporte</h3>
                        </td>
                        <td align="center">
                            <h3>Marketing</h3>
                        </td>
                        <td align="center">
                            <h3>WhatsApp</h3>
                        </td>
                        <td align="center">
                            <h3>Facebook</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="mailto:elliot.garamendi@gmail.com">elliot.garamendi@gmail.com</a>
                        </td>
                        <td align="center">
                            <a href="mailto:elliot.garamendi@gmail.com">elliot.garamendi@gmail.com</a>
                        </td>
                        <td align="center">
                            <a href="https://web.whatsapp.com/">997045329</a>
                        </td>
                        <td align="center">
                            <a href="http://facebook.com">Facebook</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <img src="@Url.Content("~/Content/imágenes/layout/soporteContacto.png")" height="200" width="300" />
                        </td>
                        <td align="center">
                            <img src="@Url.Content("~/Content/imágenes/layout/marketingContacto.jpg")" height="200" width="300" />
                        </td>
                        <td align="center">
                            <img src="@Url.Content("~/Content/imágenes/layout/whatsappContacto.png")" height="220" width="220" />
                        </td>
                        <td align="center">
                            <img src="@Url.Content("~/Content/imágenes/layout/facebookContacto.png")" height="220" width="220" />
                        </td>
                    </tr>
                </table>
            </address>
        </center>
    </body>