@model IEnumerable<cachimboCrack.Models.alumno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alumnos</h2>

<p>
    @Html.ActionLink("Back", "../Home/IndexAdmin")
</p>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Celular
        </th>
        <th>
            Correo
        </th>
        <th>
            Nivel
        </th>
        <th>
            Crédito
        </th>
        <th>
            Carrera
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celularAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creditoAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.nombreCarrea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuarioAlumno }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuarioAlumno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuarioAlumno })
        </td>
    </tr>
}

</table>
