@model IEnumerable<cachimboCrack.Models.cita>

@{
    ViewBag.Title = "Index";
}
<body background="~/Content/imágenes/fondo/bordeCircuito.jpg">

    <h4>
        @Html.ActionLink("Registrar cita", "Create")
    </h4>
    <h4>
        @{
            string nombreArea = (string)Session["nombreArea"];
            if (nombreArea == null)
            {
                @Html.ActionLink("Retornar", "../Home/getCursoTotal")
            }
            else
            {
                @Html.ActionLink("Retornar", "../Home/getCurso", new { codigoArea = Session["codigoArea"], nombreArea = Session["nombreArea"] })
            }
        }
    </h4>

    <h2>Citas del curso @Session["nombreCurso"]</h2>


    <table class="table">
        <tr>
            <th>
                Alumno
            </th>
            <th>
                Tipo
            </th>
            <th>
                Día
            </th>
            <th>
                Hora
            </th>
            <th>
                Vacante
            </th>
        </tr>

        @{
            string descripcionCita = "";
            int tipoCita = 0;
            foreach (var item in Model)
            {
                tipoCita = (int)item.tipoCita;
                if (tipoCita == 1)
                {
                    descripcionCita = "Quiero aprender";
                }
                else
                {
                    descripcionCita = "Quiero enseñar";
                }
                if(item.codigoParticipante == null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuarioAlumno)
                        </td>
                        <td>
                            @descripcionCita
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.diaCita))
                            @*@Html.DisplayFor(modelItem => item.diaCita)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.horaCita)
                        </td>
                        <td>
                            @Html.ActionLink("Inscribirse", "inscribirCita", new { codigoCita = item.codigoCita })
                        </td>
                    </tr>
                }
                
            }
        }
    </table>
</body>
